<form id='new_rule_form' onsubmit='submitNewRuleForm($("#new_rule_form")); return false;'>
<table id='new_rule_table'>
    <thead> <tr>
        <th>Mapping</th>
        <th>Throttle</th>
        <th>Priority</th>
        <th>Product</th>
        <th>Version</th>
        <th>Build ID</th>
        <th>Channel</th>
        <th>Locale</th>
        <th>Distribution</th>
        <th>Build Target</th>
        <th>OS Version</th>
        <th>Dist Version</th>
        <th>Comment</th>
        <th>Update Type</th>
        <th>Header Architecture</th>
        <th>Update</th>
    </tr></thead>
    <tbody>
        <tr>
            {% set form = new_rule_form %}
            <td id='mapping_new'>
                {{ form.mapping()|safe }}
            </td>
            <td id='throttle_new'>
                {{ form.throttle()|safe }}
            </td>
            <td id='priority_new'>
                {{ form.priority()|safe }}
            </td>
            <td id='product_new'>
                {{ form.product()|safe }}
            </td>
            <td id='version_new'>
                {{ form.version()|safe }}
            </td>
            <td id='buildID_new'>
                {{ form.build_id()|safe }}
            </td>
            <td id='channel_new'>
                {{ form.channel()|safe }}
            </td>
            <td id='locale_new'>
                {{ form.locale()|safe }}
            </td>
            <td id='distribution_new'>
                {{ form.distribution()|safe }}
            </td>
            <td id='buildTarget_new'>
                {{ form.build_target()|safe }}
            </td>
            <td id='osVersion_new'>
                {{ form.os_version()|safe }}
            </td>
            <td id='distVersion_new'>
                {{ form.dist_version()|safe }}
            </td>
            <td id='comment_new'>
                {{ form.comment()|safe }}
            </td>
            <td id='update_type_new'>
                {{ form.update_type()|safe }}
            </td>
            <td id='header_arch_new'>
                {{ form.header_arch()|safe }}
            </td>
            <td id='Update_new'>
                <input type='submit' name='submit' value='Add' />
            </td>
        </tr>
    </tbody>
</table>
</form>
