{% if rules %}
Below is a complete list of all of the rules
{% endif %}
<table>
    <tr>
        {% for col in rules[0].keys() %}
        <th>{{ col }}</th>
        {% endfor %}
    </tr>
    {% for row in rules %}
    <tr>
        {% for key,value in row.iteritems() %}
            <td>
            {% if key == 'throttle' %}
                {% set rule_id = row['rule_id'] %}
                <form id='{{ rule_id }}_throttle' onsubmit='submitThrottleForm("{{ rule_id }}", $("#{{ rule_id }}_throttle")); return false;'>
                    {{ value.throttle()|safe }}
                    {{ value.data_version()|safe }}
                    <input type='submit' name='submit' value='Update' />
                </form>
            {% else %}
                {{ value }}
            {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
